<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("partials/dashboard/dashboard-header") %>
  </head>

  <body class="bg-gray-100 text-gray-900 min-h-screen flex flex-col">
    <div class="max-w-6xl mx-auto p-4 sm:p-6 w-full flex-1">
      <%- include("partials/dashboard/dashboard-navbar", { user }) %> <%-
      include("partials/dashboard/dashboard-form-evento") %> <%-
      include("partials/dashboard/dashboard-lista-eventos", { listaEventos }) %>
      <%- include("partials/dashboard/dashboard-form-cupon") %> <%-
      include("partials/dashboard/dashboard-lista-cupones", { listaCupones }) %>
      <%- include("partials/dashboard/dashboard-form-patro") %> <%-
      include("partials/dashboard/dashboard-lista-patro", { listaPatrocinadores
      }) %> <%- include("partials/dashboard/dashboard-form-revista") %> <%-
      include("partials/dashboard/dashboard-lista-revistas", { listaRevistas })
      %>
    </div>

    <!-- INCLUSIÓN CORREGIDA - SIN SALTO DE LÍNEA -->
    <%- include("partials/dashboard/dashboard-scripts", {listaEventos:
    listaEventos, listaCupones: listaCupones}) %>
  </body>
</html>
