<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= nombrePagina %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/eventos.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <%- include('partials/sidebar') %>
    <section class="home-section p-4 ml-[1px]">
      <div class="text-3xl font-bold text-gray-800 mb-6">Eventos</div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 animate-fade-in"
      >
        <% listaEventos.forEach(evento => { %>
        <div
          tabindex="-1"
          class="bg-white rounded-2xl shadow-xl p-6 transform hover:scale-105 transition duration-300 ease-in-out cursor-pointer hover:shadow-2xl select-none focus:outline-none"
        >
          <img
            src="<%= evento.imagen_url %>"
            alt="Imagen del evento"
            class="rounded-md mb-4 w-full h-48 object-cover"
          />
          <h2 class="text-2xl font-semibold text-blue-700 mb-2">
            <%= evento.titulo %>
          </h2>
          <p class="text-gray-600 mb-4"><%= evento.descripcion %></p>
        </div>
        <% }) %>
      </div>
    </section>
    <script src="/js/script.js"></script>
  </body>
</html>
